<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="image" content="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/14666160_10207353948155416_3906365198303961578_n.jpg?oh=62598bba312b5670d22324227ecc810f&oe=589A2C52" />
    <meta property="fb:admins" content="{Fhazkard}" />
    <meta name="description" content="Make Easy Blog For Everyone. We give all you need for blog. Responsive Blog is better for you."/>
    <meta name="keywords" content="Fh"/>
    <meta name="keywords" content="Fha" />
    <meta name="keywords" content="Fhaz" />
    <meta name="keywords" content="Fhazk" />
    <meta name="keywords" content="Fhazka" />
    <meta name="keywords" content="Fhazkar" />
    <meta name="keywords" content="Fhazkard" />
    <meta name="keywords" content="Fhazkard.com" />
    <meta name="keywords" content="Fhazkard blog" />
    <meta name="keywords" content="Fhazkard coding" />
    <meta name="keywords" content="Fhazkard Home" />
    <meta name="keywords" content="Fhazkard About" />
    <meta name="keywords" content="Fhazkard Tentang" />
    <meta name="keywords" content="Fhazkard Contact" />
    <meta name="keywords" content="Fhazkard Kontak" />
    <meta name="keywords" content="Fhazkard Video" />
    <meta name="keywords" content="Fhazkard Video Tutorial" />
    <meta name="keywords" content="Fhazkard Tutorial" />
    <meta name="keywords" content="Fhazkard Writing" />
    <meta name="keywords" content="Fhazkard Menulis" />
    <meta name="keywords" content="Fhazkard Article" />
    <meta name="keywords" content="Fhazkard Artikel" />
    <meta name="keywords" content="Fhazkard News" />
    <meta name="keywords" content="Fhazkard Berita" />
    <meta name="keywords" content="Fhazkard Email" />
    <meta name="keywords" content="Fhazkard Line" />
    <meta name="keywords" content="Fhazkard FB" />
    <meta name="keywords" content="Fhazkard Facebook" />
    <meta name="keywords" content="Fhazkard Twitter" />
    <meta name="keywords" content="Fhazkard Youtube" />
    <meta name="keywords" content="Fhazkard PHP" />
    <meta name="keywords" content="Fhazkard Mysql" />
    <meta name="keywords" content="Fhazkard Github" />

    <meta property="og:title" content="Fhazkard - Easy Blog For Everyone" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://fhazkard.com/" />
    <meta property="og:image" content="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/14666160_10207353948155416_3906365198303961578_n.jpg?oh=62598bba312b5670d22324227ecc810f&oe=589A2C52" />
    <meta property="og:description"
          content="Make Easy Blog For Everyone. We give all you need for blog. Responsive Blog is better for you and Make it Easy for You!" />
    <meta property="og:determiner" content="Fhaz" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Fhazkard" />

    <meta name="google-site-verification" content="IJXFSZIdxysxH324jMqjfYI2l9RPvXXa0iWtAruGny4" />

    <title>Fhazkard - Easy Blog For Everyone</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/clean-blog.min.css" />
        <link rel="stylesheet" href="~/css/Style.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon-96x96.png" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/clean-blog.min.css" />
        <link rel="stylesheet" href="~/css/Style.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon-96x96.png" />
    </environment>
    <script src="~/js/fb.js"></script>
    <script src="~/js/google.js"></script>
    <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async" 　defer="defer"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-84762732-2', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Fhazkard</a>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    @*<li><a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a></li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @*@await Html.PartialAsync("_LoginPartial")*@
            </div>
        </div>
    </nav>
    <header class="intro-header" style="background-image: url('../../images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Fhazkard Blog</h1>
                        <h3 class="h3-sub">Easy Blog For Everyone</h3>
                        <hr class="small">
                        <span class="subheading">          
                            <a asp-area="" asp-controller="Home" asp-action="Index">Coding</a> - 
                            <a asp-area="" asp-controller="Home" asp-action="Index">Writing</a> - 
                            <a asp-area="" asp-controller="Home" asp-action="Index">Video Tutorial</a> - 
                            <a asp-area="" asp-controller="Home" asp-action="Index">News</a> - 
                            <a asp-area="" asp-controller="Home" asp-action="Index">Article</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 left-comment">               
                <div class="fb-comments" data-href="http://fhazkard.com/" data-numposts="5"></div>
                <div style="width:100%;height:auto;">
                    <script type="text/javascript">
                        google_ad_client = "ca-pub-2539633924824960";
                        google_ad_slot = "6585101532";
                    </script>
                    <!-- Ad Kotak Besar -->
                    <script type="text/javascript"
                            src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
            </div>
            <div class="col-xs-8 col-md-8 col-lg-8">                      
                            <ul class="list-inline text-left share-topline" @ViewData["display"]>
                                <li>
                                    <div class="line-it-button" style="display: none;" data-type="share-a" data-lang="en" align="left"></div>
                                </li>
                                <li>
                                    <a class="twitter-share-button"
                                       href="https://twitter.com/intent/"
                                       data-size="small"
                                       data-url=""
                                       data-via="Fhazkard"
                                       data-related="Fhazkard"
                                       data-hashtags="Fhazkard,Fhaz"
                                       data-text="Im Sharing About!">
                                    </a>
                                </li>
                                <li>
                                    <!-- Place this tag where you want the share button to render. -->
                                    <div class="g-plus" data-action="share" data-annotation="none"></div>
                                    <!-- Place this tag after the last share tag. -->
                                </li>
                                <li>
                                    <div class="fb-like"
                                         data-width="450"
                                         data-layout="button_count" data-action="like" data-size="small"
                                         data-show-faces="true">
                                    </div>
                                </li>
                                <li>
                                    <div class="fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse"></a></div>
                                </li>
                            </ul>         
                @RenderBody()
                <br />
                <!-- Share Button -->
                    <ul class="list-inline text-left">
                        <li>
                            <div class="line-it-button" style="display: none;" data-type="share-a" data-lang="en" align="left"></div>
                        </li>
                        <li>
                            <a class="twitter-share-button"
                               href="https://twitter.com/intent/"
                               data-size="small"
                               data-url=""
                               data-via="Fhazkard"
                               data-related="Fhazkard"
                               data-hashtags="Fhazkard,FhazkardBlog, Fhazkard.com"
                               data-text="Im Sharing About!">
                            </a>
                        </li>
                        <li>
                            <!-- Place this tag where you want the share button to render. -->
                            <div class="g-plus" data-action="share" data-annotation="none"></div>
                            <!-- Place this tag after the last share tag. -->
                        </li>
                        <li>
                            <div class="fb-like"
                                 data-width="450"
                                 data-layout="button_count" data-action="like" data-size="small"
                                 data-show-faces="true">
                            </div>
                        </li>
                        <li>
                            <div class="fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse"></a></div>
                        </li>
                    </ul>
                <div class="fb-comments bottom" data-href="http://fhazkard.com/" data-numposts="5"></div>
                <div id="back-to-top" align="right"><a href="#">Back to Top</a> </div>
                <hr>
            </div>
                <!-- Footer -->    
            <footer>             
                            <div class="col-xs-12  col-md-12 col-lg-12 ">
                                <ul class="list-inline text-center">
                                    <li>
                                        <a href="https://twitter.com/Fhazkard">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/Fhazkard">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UC7J9KA5CIiytNtriTA8jSMQ">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/Fhazkard/">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://medium.com/@@Fhazkard">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://plus.google.com/114590919888124389755">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="copyright text-muted">Copyright &copy; <a asp-area="" asp-controller="Home" asp-action="Index"><strong>Fhazkard</strong></a> 2016</p>
                            </div>        
                </footer> <!-- Footer -->
        </div>
    </div>
   
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/clean-blog.min.js"></script>
        <script src="//platform.twitter.com/widgets.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/clean-blog.min.js"></script>
        <script src="//platform.twitter.com/widgets.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
