@media only screen and (min-width: 768px) {
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
        color: #00d4ff;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover {
        color: #00d4ff;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
        color: #00d4ff;
    }
}
@media only screen and (min-width: 1170px) {
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
        color: #00d4ff;
    }
}

.table.blog{
    font-size: small;
    word-wrap: break-word;
    height: 100px;
}
p a {
    text-decoration: none;
}
.post-subtitle {
    line-height: 0.75;
    margin: 10px, 0;
}
.post-preview>.post-meta  {
    margin-top: 10px;
}
.btn-danger {
    color: #fff;
    background-color: #ff0700;
    border-color: #ff0700;
}
.btn-danger:hover {
    color: #fff;
    background-color: #0e0e0e;
    border-color: #0e0e0e;
}
.delete_back{
    padding: 0;
    margin: 0;
    float: right;
}
.form-control.disabled{
    cursor: not-allowed;
    background-color: #fbfafa;
}
.navbar-default .btn-link {
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    margin-top: 7px;
    margin-right: 20px;
    border: 0;
    padding: 15px;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {   
    #logoff{
         color: #777;
         margin-top: 0;
         margin-right: 0;
    }
}
@media only screen and (max-width: 768px) {   
    #logoff:hover{
         color: #333;
         margin-top: 0;
         margin-right: 0;
    }
}
/*@media only screen and (min-width: 1170px) {
    #logoff{
        color: #333;
    }
}*/
@media only screen and (min-width: 1170px) {
    .navbar-custom.is-fixed .nav li button:hover{
        color: #333;
        color: #0085A1;
    }
}
@media only screen and (min-width: 1170px) {
    .navbar-custom.is-fixed .nav li button{
        color: #333;
    }
}
@media only screen and (min-width: 1170px) {
    .navbar-custom.is-fixed .nav li a:focus, .navbar-custom.is-fixed .nav li a:hover {
        color: #0085A1;
        /*color: #00d4ff;*/
    }
}
.subheading a{
    text-decoration: none;
    color: #ffffff;
}
.subheading a:hover{
    color: #00d4ff;
}
.alamat a {
    text-decoration: none;
}
#back-to-top a{
    text-decoration: none;
}
.post-meta.author a{
    text-decoration: none;
}
a:hover, a:focus {
     text-decoration: none; 
}
.post-preview>.post-meta>a:focus, .post-preview>.post-meta>a:hover {
    text-decoration: none; 
}
.Share-Button{
    padding:0;
    margin: 0;
}