@media only screen and (min-width: 768px) {
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
        color: #00d4ff;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover {
        color: #00d4ff;
    }
}
.table.blog{
    font-size: small;
    word-wrap: break-word;
    height: 100px;
}
p a {
    text-decoration: none;
}
.post-subtitle {
    line-height: 0.75;
    margin: 10px, 0;
}
.post-preview>.post-meta  {
    margin-top: 10px;
}