@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"] Me</h2>
<hr />
<h3>@ViewData["Message"]</h3>

<p>Fhazkard.com is free website for everyone, who want do something about<br>
   Coding - Writing - Video Tutorial - News - Article.<br />
   For support information please contact me.<br />
   Thanks...
</p>
<hr>