@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"] Me</h2>
<hr />
<h3>@ViewData["Message"]</h3>

<div class="alamat">
    <address>
        Fhaz Tech<br />
        Indonesia, Batam Kepri<br />
        <a href="http://line.me/ti/p/~Fhazkard">
            <abbr title="Line">Line:</abbr>
            Fhazkard
        </a>
    </address>
    <address>
        <strong>Email Support:</strong> <a href="mailto:Admin@Fhazkard.com">Admin@Fhazkard.com</a><br />
    </address>
</div>
<hr>