@using System.ComponentModel.DataAnnotations;
@model IEnumerable<Fhazkard_Website.Models.BlogViewModels.Blog>
@{
    ViewData["Title"] = "Home";
}


<!-- Main Content -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">           
                @foreach (var item in Model.OrderByDescending(m => m.Id))
                {
                    <div class="post-preview">
                        <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id">
                            <h2 class="post-title">
                                @Html.DisplayFor(modelItem => item.title_blog)
                            </h2>
                        </a>
                            <div class="post-subtitle">
                           @Html.Raw(item.content_blog)
                            </div>                     
                        <p class="post-meta">Posted by <a href="#">Fhazkard</a> on @item.create_date.ToString("dd-MMM-yyyy")</p>                       
                    </div>
                 <hr>
                }
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                    </h2>
                </a>
                <p class="post-meta">Posted by <a href="#">Fhazkard</a> on September 28, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        Science has not yet mastered prophecy
                    </h2>
                    <h3 class="post-subtitle">
                        We predict too much for the next year and yet far too little for the next ten.
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Fhazkard</a> on September 27, 2016</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        Failure is not an option
                    </h2>
                    <h3 class="post-subtitle">
                        Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Fhazkard</a> on September 25, 2016</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>

    </div>
</div>

